body{
    margin: 0;
}

#canvas{
  width: 728px;
  height: 90px;
  display: block;
  background-color:rgba(0, 0, 0, 0.00);
  /*background-color: black;*/
  position: absolute;
  top: 0px;
  pointer-events: none;
}

#container{
  cursor: pointer;
  position: absolute;
}

#reload{
    cursor: pointer;
    top: -1px;
    left: 0px;
}

#legal{
    left: -1px;
}

#x{
    cursor: pointer;
}

#btn{
  width: 73px;
  top: 44px;
  left: 384px;
  -webkit-backface-visibility: hidden; 
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

#x_div{
    top: 7px;
    left: 576px;
    width: 20px;
    height: 20px;
}

#legal_div{
    width: 100px;
    height: 16px;
    bottom: 4px;
    left: 500px;
}
