body{
    margin: 0;
}

#canvas{
  width: 160px;
  height: 600px;
  display: block;
  background-color:rgba(0, 0, 0, 0.00);
  /*background-color: black;*/
  position: absolute;
  top: 0px;
  pointer-events: none;
}

#container{
  cursor: pointer;
  position: absolute;
}

#reload{
    cursor: pointer;
    top: 5px;
    left: 5px;
}

#legal{
    left: -1px;
}

#x{
    cursor: pointer;
}

#btn{
  width: 110px;
  top: 430px;
  left: 94px;
  -webkit-backface-visibility: hidden; 
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

#x_div{
    top: 376px;
    left: 251px;
    width: 20px;
    height: 20px;
}

#legal_div{
    width: 96px;
    height: 16px;
    bottom: 26px;
    left: 64px;
}
